=link_to "Logout", accounts_path
%h3 Info for #{@student.name}

%table#sessions.table.table-striped.col-md-12
  %thead
    %tr
      %th Name
  %tbody
    %tr
      %td= @student.name

=link_to "Return to sessions", subject_tutor_sessions_path(1, 1)