- if session[:account_id]
  =link_to "Logout", edit_account_path(1)
- else
  =link_to "Log In", accounts_path
%h2 All Tutors

%table#tutors.table.table-striped.col-md-12
  %thead
    %tr
      %th Name
  %tbody
    - @tutors.each do |tutor|
      %tr
        %td= tutor.account.name
        %td= link_to "Reviews for #{tutor.account.name}", subject_tutor_reviews_path(1, tutor)