=link_to "Logout", accounts_path
- [:notice, :error, :success].each do |key|
  - unless flash[key].blank?
    %p{ :class => "flash #{key}" }= flash[key]

%h2 All subjects #{@account.name} tutors

%table#subjects.table.table-striped.col-md-12
  %thead
    %tr
      %th Title
  %tbody
    - @subjects.each do |subject|
      %tr
        %td= subject.name

=link_to "Find more subjects to tutor", subjects_path
%br
=link_to "Back to account", account_path(@account)