%div{:class => "container-fluid"}
	%div{:class =>"row"}
		%img{:class => "photo", :src=>"/blackboard.png"}
	-if @account.nil? 
		<h1 class="heading">Welcome to CyberTutor</h1>
	-else 
		<h1 class="heading">Welcome to CyberTutor #{@account.name}</h1>
	%h3= link_to "All Subjects", subjects_path(), {class: "home-links"}
	%h3= link_to "All Tutors", tutors_path(), {class: "home-links"}
	-unless @account.nil?
		%h3= link_to "My Account", account_path(@account), {class: "home-links"}


