<h1>Welcome to CyberTutor</h1>
%h3= link_to "All Subjects", subjects_path()
%h3= link_to "All Tutors", tutors_path()
%h3= link_to "Log In", accounts_path()
%h3= link_to "Create New Account", new_account_path()
