%h2 All Subjects

%table#subjects.table.table-striped.col-md-12
  %thead
    %tr
      %th Title
  %tbody
    - @subjects.each do |subject|
      %tr
        %td= subject.name
        %td= link_to "Tutors for #{subject.name}", subject_tutors_path(subject)

= link_to 'Add new subject', new_subject_path