<h1>All Subjects</h1>
<table>
  <tr>
    <th>Title</th>
  </tr>
 
  <% @subjects.each do |sub| %>
    <tr>
      <td><%= link_to "#{sub.name}", sub %></td>
    </tr>
  <% end %>

</table>

<%= link_to 'Create New Subject', new_subject_path %>