/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 */
// Custom bootstrap variables must be set or imported *before* bootstrap.
@import "bootstrap";

.flash-error {
    color: red;
    font-weight: bold;
    font-size: 20px;
    margin: 0px;
}
:root {
    --navbar-bg-color: #a5b5c5
}
html, body {
    margin: 0;
    height: 100%;
}
 #navbar {
    padding: 5px 0 5px 0;
    background: var(--navbar-bg-color);
    width: 100%;
    justify-content: space-between;
    display:flex;
 }
#home-link, .navbar-links {
    font-weight: bold;
    font-size: 32px;
    color: black;
    text-decoration: none;
}
.navbar-links {
     background: #CDE;
     font-size: 28px;
     border-radius: 3px;
     border: 1px solid black;
     padding-left: 3px;
     padding-right: 3px;    
     /* padding-top: 3px;
     padding-bottom: 3px; */
}
#left_bar {
    display: inline-block;
    margin-left: 10px;
    float: left;
}
#right_bar {
    display: inline-block;
    float: right;
}

.home-links {
    text-decoration: none;
    font-size: 28px;
    display: inline-block;
}

#content {
    height: 100%;
    background: #CDE
}
.heading{
    font-size: 30px;
    text-decoration: underline;
    margin-top: 0;
    padding-top: 20px;
}