/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */
:root {
    --navbar-bg-color: #c5c5c5
}
body {
    margin: 0;
}
 #navbar {
    
    background: var(--navbar-bg-color);
    width: 100%;
    justify-content: space-between;
    display:flex;
 }

 .btn-menu {
     background: var(--navbar-bg-color);
     border-radius: 3px;
     border: 2px solid white;
     padding-top: 3px;
     padding-bottom: 3px;
 }
#left_bar {
    display: inline-block;
    margin-left: 10px;
    float: left;
}
#right_bar {
    display: inline-block;
    float: right;
}