=link_to "Logout", accounts_path
%h3 Account for #{@account.name}

%table#tutors.table.table-striped.col-md-12
  %thead
    %tr
      %th General Information
  %tbody
    %tr
      %td= link_to "View your sessions", subject_tutor_sessions_path(1,1)
    %tr
      %td= link_to "Subjects you teach", tutor_path(@tutor)